In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
X_train = pd.read_csv("/kaggle/input/titanic/train.csv")
X_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
X_test = pd.read_csv("/kaggle/input/titanic/test.csv")
X_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
female = X_train.loc[X_train.Sex == 'female']["Survived"]
survived = sum(female) / len(female)

print("The percentage of survivng women is:", survived)

The percentage of survivng women is: 0.7420382165605095

In [5]:
male = X_train.loc[X_train.Sex == 'male']["Survived"]
survived = sum(male) / len(male)

print("The percentage of surviving men are:", survived)

The percentage of surviving men are: 0.18890814558058924

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [7]:
fare_bins = [0, 25, 60, float('inf')]
fare_labels = ['fare_0-25', 'fare_26-60', 'fare_60+']
X_train['Fare_Range'] = pd.cut(X_train['Fare'], bins=fare_bins, labels=fare_labels, include_lowest=True, right=False)

fare_bins = [0, 25, 60, float('inf')]
fare_labels = ['fare_0-25', 'fare_26-60', 'fare_60+']
X_test['Fare_Range'] = pd.cut(X_test['Fare'], bins=fare_bins, labels=fare_labels, include_lowest=True, right=False)

In [8]:
Y_train = X_train["Survived"]

features = ["Pclass", "Sex", "Parch", "Fare_Range"]
X1_train = pd.get_dummies(X_train[features])
X1_test = pd.get_dummies(X_test[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X1_train, Y_train)

predictions = model.predict(X1_test)

output = pd.DataFrame({'PassengerId': X_test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Done!")

Done!